.main-heading {
  background-color: blue;
}

.icon-menu {
  position: absolute;
  top: 10px;
  left: 80%;

}

.main-nav {
  padding: 5px;
}

.main-nav ul {
  display: none;
}

.main-nav:hover ul {
  display: inline-block;
}

.main-nav li {
  background-color: silver;
  padding: 5px;
  margin: 1em;
  display: block;;
}

.article-entry {
  display: block;
}

.whyGood {
  display: none;
}


@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    margin-left: 10%;
    display: block;
  }

  .main-nav li {
    display: inline-block;

  }
}
